.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 480px;
  padding-top: 180px;
  width: 100%;
}

.login_form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.item {
  display: flex;
  gap: 8px;
}

.plain_text {
  color: #8585ad;
}

.app_link {
  color: #4c4cff;
  text-decoration: none;
}

.input_error {
  line-break: anywhere;
}

.error_text {
  color: red;
  left: 50%;
  line-break: anywhere;
  position: absolute;
  text-align: center;
  top: -20px;
  transform: translate(-50%, 0);
  width: 100%;
}
