.header {
  background-color: #1c1c21;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.content {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
  max-width: 1280px;
  position: relative;
  width: 100%;
}

.navigation {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  align-items: center;
  display: flex;
  justify-self: center;
}

.profile {
  align-self: center;
  justify-self: flex-end;
}
