@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/JetBrainsMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/JetBrainsMono-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Iceland-Regular.woff') format('woff');
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

.page__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page__link {
  text-decoration: none;
}
